<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.scc.mapper.NoticeMapper">

    <insert id="create">

        INSERT INTO board2(title,content,writer)
           VALUES(#{title}, #{content}, #{writer})
    </insert>


    <select id="list" resultType="Notice" parameterType="Criteria">

 	    SELECT *
         FROM (
         SELECT *,
         ROW_NUMBER() OVER(ORDER BY boardNo ASC) AS RNUM
         FROM board2) board2
         WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY boardNo ASC

	</select>

    <select id="listCount" resultType="int">
    <![CDATA[
      SELECT COUNT(boardNo)
        FROM board2
       WHERE boardNo > 0
   ]]>
    </select>

    <select id="search" resultType="Notice">
        <![CDATA[
            SELECT boardNo,
 			   title,
 			   content,
 			   writer,
 			   regDate
		  FROM board2
		 WHERE boardNo > 0
        ]]>

        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>

        <![CDATA[
		  ORDER BY boardNo ASC,
	  		       regDate DESC
	 	]]>
    </select>


    <select id="read" resultType="Notice">
       SELECT boardNo,
 			   title,
 			   content,
 			   writer,
 			   regDate
		  FROM board2
		 WHERE boardNo = #{boardNo}
    </select>

    <update id="update">
		UPDATE board2
		   SET title =#{title},
			   content =#{content}
		 WHERE boardNo = #{boardNo}
	</update>

    <delete id="delete">
		DELETE FROM board2
		 WHERE boardNo = #{boardNo}
	</delete>
</mapper>