<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.scc.mapper.ReplyMapper">


    <insert id="create">

        INSERT INTO myreply(scc_num, content, writer)
           VALUES( #{scc_num}, #{content}, #{writer})
    </insert>


    <select id="list" resultType="Reply" >

 	    SELECT rno, content, writer, regDate
         FROM myreply
         WHERE scc_num = #{scc_num}


    </select>

    <update id="replyUpdate">
        update myreply
        set content = #{content}
        where rno = #{rno}
    </update>

    <delete id="replyDelete">
        delete from myreply
        where rno = #{rno}
    </delete>



</mapper>