<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.scc.mapper.scc_pr_mapper">


    <select id="list" resultType="scc_pr" parameterType="Criteria">
       SELECT scc_num, scc_name, scc_grade, scc_address
         FROM (
         SELECT scc_num, scc_name, scc_grade, scc_address,
         ROW_NUMBER() OVER(ORDER BY scc_name ASC) AS RNUM
         FROM scc_info) scc_info
         WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY scc_name ASC
    </select>


    <select id="listCount" resultType="int">
        <![CDATA[
      SELECT COUNT(scc_num)
        FROM scc_info
   ]]>
   </select>

    <select id="search" resultType="scc_pr" parameterType="Criteria">
        <![CDATA[
	 	SELECT *
	 	  FROM scc_info
	 	]]>

        <if test="scc_name != null and scc_name != ''">
            where scc_name like concat('%', #{scc_name}, '%')
        </if>

    </select>


    <select id="read" resultType="scc_pr">
		SELECT scc_num, scc_name, scc_grade, detail_info, scc_address, scc_phone, limit_num, state_num, remaind_num, wait_num
		  FROM scc_info
		 WHERE scc_num = #{scc_num}
	</select>
</mapper>